<h3>{{'DocumentTypesPerWorkflows'|translate}}
  <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
    <cds-icon shape="info-circle" size="24"></cds-icon>
    <span class="tooltip-content">{{'DocumentTypesPerWorkflowsDetails'|translate}}</span>
  </a>
</h3>
<div class="btn-group">
  <button (click)="addSetting()" type="button" class="btn btn-icon" aria-label="home">
    <cds-icon shape="plus"></cds-icon>
    {{'AddNewWorkflow'|translate}}
</button>
</div>
<clr-accordion>
  <clr-accordion-panel *ngFor="let details of workflowTypes">
    <clr-accordion-title style="width:100%">
      <div class="clr-row">
        <div class="clr-col-4">
          <span>{{details.workflowId}}</span>
        </div>
        <div class="clr-col-6">
          <span>{{details.workflowName}}</span>
        </div>
        <div class="clr-col-2">
          <span class="clr-offset-xl-10 ">
            <span class="clr-sr-only">
            </span>
          </span>
        </div>
      </div>
    </clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <section>
        <label>
          <h2>{{'DocumentToConvert'|translate}}</h2>
        </label>
        <table class="table">
          <thead>
              <tr>
                  <th>{{'DocumentTypeId'| translate}}</th>
                  <th>{{'DocumentTypeName'| translate}}</th>
                  <th>{{'ConvertibleToPDF'| translate}}</th>
                  <th>{{'GenerateOcrFile'| translate}}</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let document of details.documentConvertSettings" >
                  <td>{{document.documentTypeId}}</td>
                  <td>{{document.documentTypeName}}</td>
                  <td>
                    <input type="checkbox" (change)="onRowSelect($event,document,'PDF')" [checked]="document.convertPdf">
                  </td>
                  <td>
                    <input type="checkbox" (change)="onRowSelect($event,document,'OCR')" [checked]="document.supportOcr">
                  </td>
              </tr>
          </tbody>
          <tfoot>
              <tr>
                  <td colspan="4">
                    <div class="btn-group">
                      <button (click)="saveUpdateSettings(details.workflowId)" class="btn btn-sm btn-secondary" [disabled]="!dataSetChange">
                        <cds-icon *ngIf="!dataSetChange" shape="floppy"></cds-icon>
                        <cds-icon  *ngIf="dataSetChange" shape="floppy" badge="info"></cds-icon>
                        {{'SaveChanges'| translate}}
                      </button>
                    </div>
                  </td>
              </tr>
          </tfoot>
      </table>
      </section>
    </clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>

<clr-modal [(clrModalOpen)]="show"  [clrModalSize]="'sm'">
  <h3 class="modal-title">{{'Workflows' | translate}}</h3>
  <div class="modal-body">
      <clr-select-container>
          <label>{{'SelectTypeOfWorkflow' | translate}}</label>
          <select clrSelect name="options" [(ngModel)]="options" >
              <option *ngFor="let workflow of whiteListItem" [value]="workflow.handle">{{workflow.name}}</option>
          </select>
      </clr-select-container>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="show = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="saveNewConfig()">Ok</button>
  </div>
</clr-modal>
