<h3>{{'Queue'|translate}}
  <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
    <cds-icon shape="info-circle" size="24"></cds-icon>
    <span class="tooltip-content">{{'ElementsInQueue'|translate}}</span>
  </a>
</h3>
<clr-datagrid>
  <clr-dg-column *ngFor="let head of columns" [clrDgField]="head.field">
    {{head.header | translate}}
  </clr-dg-column>
  <clr-dg-column>
    {{'Actions' | translate}}
  </clr-dg-column>
  <clr-dg-row *clrDgItems="let document of documentQueue">
    <clr-dg-cell *ngFor="let head of columns">{{document[head.field]}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-outline-primary btn-icon btn-sm">
        <button class="btn">
          <cds-icon shape="details"></cds-icon>
          <span class="clr-icon-title">Log</span>
        </button>
        <button class="btn">
          <cds-icon shape="refresh">
            <span class="clr-icon-title">Re-enviar</span>
          </cds-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>{{documentQueue.length}} document(s)</clr-dg-footer>
</clr-datagrid>